.login-form {
  background: var(--main-blue);
  color: #fff;
  border-radius: 0.25rem;
  padding: 1.5rem 1.5rem;
  font-size: 0.8rem;
}

.form-group input{
  font-size: 1rem;
}

.login-container {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 360px;
}

.login-form img {
  width: 80%;
}

button[type="submit"] {
  margin-top: 2rem;
}

#tool-description {
  font-size: 1.2rem;
}

.input-icon {
  position: relative;
}

.input-icon i {
  position: absolute;
  right: 0;
  top: 33px;
  padding: 9px 8px;
  color: var(--main-blue);
}

.input-icon input:focus + i {
  color: var(--main-green);
}

@media (max-width: 550px) {
  .login-container {
    min-width: 85%;
  }
}
