.card-title {
  border-bottom: 1px solid;
  padding-bottom: 10px;
  font-size: 26px;
  font-weight: 300;
}

#piechart-status,
#colchart-reasons,
#barchart-requests,
#avg-lead-time {
  height: 300px;
}

#avg-lead-time {
  display: flex;
  justify-content: center;
}