/*** GLOBAL STYLES ***/
/* Project colors, use with e.g. 'var(--primary)' */
:root {
  --main-blue: #4472c4;
  --main-green: #8ec546;
  --darkgrey: #3f3f3f;
  --bg-grey: #eee;
}

@font-face {
  font-family: "Segoe UI Light";
  src: url(../assets/fonts/segoeuil.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

body {
  font-size: 0.9rem;
}

.font-main {
  font-family: "Segoe UI Light";
}

.text-bold {
  font-weight: bolder;
}

/*** BUTTONS ***/
.btn {
  transition: 0.2s;
}

.btn-main {
  background-color: var(--main-green);
  color: #fff !important;
}

.btn-main:hover {
  background-color: #6f9e31;
  color: #fff;
}

/*** PAGE LAYOUT with Sidenav ***/
.page-with-sidenav {
  transition: padding-left 0.3s;
}

/*** INPUTS ***/
input.form-control:focus {
  border-color: var(--main-green);
  box-shadow: 0 0 4px 0 var(--main-green);
}

textarea.form-control:focus {
  border-color: var(--main-green);
  box-shadow: 0 0 4px 0 var(--main-green);
}

select.form-control:focus {
  border-color: var(--main-green);
  box-shadow: 0 0 4px 0 var(--main-green);
}

/*** HEADER ***/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 81px;
  z-index: 1000;
  background-color: #4472c4;
}

/*** PROFILE SECTION with Logout ***/

.user-profile-container {
  font-size: 0.8rem;
  user-select: none;
}

/*** SIDEBAR Navigation ***/
.sidenav {
  height: auto;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 81px;
  left: 0;
  bottom: 0;
  background-color: var(--bg-grey);
  overflow-x: hidden;
  text-align: center;
  padding: 1.5rem 0.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.sidenav-ul {
  margin-bottom: 80px;
}

.sidenav .nav-link .nav-text {
  margin-top: 5px;
  margin-left: 1rem;
  user-select: none;
}

.sidenav .nav-item {
  padding: 10px 10px;
  margin-bottom: 1.5rem;
}

.sidenav .nav-item a {
  font-size: 17px;
  color: var(--darkgrey);
  display: flex;
  transition: 0.2s;
}

.sidenav .nav-link svg {
  height: 2rem;
  width: 2rem;
}

.sidenav a:hover {
  color: var(--main-green);
}

.nav-link.active .nav-text {
  color: var(--main-blue);
}

.nav-link.active svg {
  color: var(--main-blue);
}

/*** MAIN CONTENT ***/
.content-wrapper {
  width: 100%;
  margin-top: 81px; /*same as height of header*/
  padding-bottom: 20px;
  font-size: 0.9rem;
}

.content-wrapper .container-fluid,
.content-wrapper .container-sm,
.content-wrapper .container-md,
.content-wrapper .container-lg,
.content-wrapper .container-xl {
  padding: 0 16px;
}

.main-container {
  margin-top: 6rem;
  max-width: 990px;
}

.page-header-container {
  display: flex;
  width: 100%;
  position: relative;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.page-header-text {
  width: 170px;
}

/*** CARDS WITH CONTENT ***/
.card {
  margin-bottom: 2rem;
}

.list-group {
  max-height: 22.5rem;
}

.card-header {
  padding: 0.25rem 1.25rem;
  display: flex;
  justify-content: space-between;
}

.card-heading {
  padding-top: 0.4rem;
}

.card-body {
  padding: 0.5rem 1.25rem;
}

.collapse-content {
  max-height: 500px;
  overflow-y: auto;
}

/** CVs **/
a.show-cv:hover {
  cursor: pointer;
}

/** Answer Requests - Text-modules **/
.text-modules ul {
  min-height: 550px;
  overflow-y: auto;
}

.text-modules ul li:hover {
  cursor: pointer;
  user-select: none;
  background-color: var(--main-blue);
  color: white;
}

/** Delete Modals **/
.input-id {
  width: 20px;
  border: 0 none;
}

/** History modals **/
.modal-history ul {
  max-height: 500px;
  overflow-y: auto;
}

/*** ICON CONTROLS ***/
a.main-controls svg {
  color: var(--main-green);
  transition: 0.2s;
}

a.main-controls svg:hover {
  color: #6f9e31;
}

a.card-controls svg {
  color: var(--darkgrey);
  transition: 0.2s;
}

.card-icons-right a.card-controls {
  margin-left: 0.75rem;
}

a.card-controls svg:hover {
  color: #6f9e31;
}

.card-content-controls {
  display: flex;
  justify-content: space-between;
}

a .close-content {
  align-self: flex-end;
}

/** remove link-styling of "MsoHyperlinks" **/
a:link,
span.MsoHyperlink {
  text-decoration: none !important;
}

a:link,
span.MsoHyperlink:not(.btn-main) {
  color: black !important;
}

/*** MEDIA QUERIES ***/

@media (min-width: 1200px) {
  .page-with-sidenav {
    padding-left: 200px;
  }
}

/* sidenav automatically collapses at max-width of 1199px */
@media (max-width: 1199px) {
  .page-with-sidenav {
    padding-left: 100px;
  }
  .sidenav {
    width: 100px;
  }
  .sidenav .nav-text {
    display: none;
  }
}

/*** Smaller devices (mobile) ***/
@media (max-width: 722px) {
  nav.navbar {
    flex-direction: column;
    justify-content: center;
  }
  .sidenav {
    top: 126px;
  }
  .content-wrapper {
    margin-top: 126px;
  }
}

/*** Alternative display of Cards on smaller devices ***/
@media (max-width: 767px) {
  .card {
    flex-direction: row;
  }
}

@media (max-height: 450px) {
  .sidenav {
    overflow-y: auto;
  }
}
